<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Supplier_form_edit" 
        service="Supplier" 
        entity="Supplier" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #contact_info attr="contact_info" label="contact_info" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="SUPPLIERFRUIT-supplier_id">
    <div layout-padding>
      <o-table 
        attr="SupplierFruitTable" 
        service="SupplierFruit" 
        entity="SupplierFruit" 
        keys="id"
        parent-keys="supplier_id:id"
        columns="id;fruit_id;supplier_id"  
        horizontal-scroll="yes"
        detail-form-route="SupplierFruit" 
        edit-form-route="SupplierFruit"
        visible-columns="id;fruit_id;supplier_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="fruit_id" title="fruit_id">
    <o-table-cell-renderer-service attr="fruit_id" 
        service="Fruit" entity="FruitType" columns="id;name"
        parent-keys="id:fruit_id"
        value-column="name" keys="fruit_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="supplier_id" title="supplier_id">
    <o-table-cell-renderer-service attr="supplier_id" 
        service="Supplier" entity="SupplierType" columns="id;name"
        parent-keys="id:supplier_id"
        value-column="name" keys="supplier_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>